@font-face{
    font-family: "Dripping Marker";
    src: url("adrip1.ttf");
}
body{
    background-color: #eeeeee;
}
div.panel-default > div.panel-collapse > div.faq-body{
    padding: 10px;
    font-size: 16px;
}
.faqsubmit, #faq-add{
    display:block;
    margin-top: 10px;
}
.faqsubmit{
    margin: auto;
}
#open-cart{
    display: none;
}
div.shirt-row{
    margin:0px;
}
h1, h2, h3, #size-selector > option, #size-selector{
    font-family: "Dripping Marker", "Segoe Script", "AR DECODE", Vijaya, Arial;
}
.details-container ul li{
    font-family: Arial, serif;
    font-size: 25px;
    line-height:1em;
    font-family: "Dripping Marker", "Segoe Script", "AR DECODE", Vijaya, Arial;
}
#faqs{
    text-align:center;
}
.navbar-nav li a img{
    width: 25px;
}
#social > li > a{
    padding: 2px;
    padding-top:15px;
}
.navbar-header > a.navbar-brand{
    padding: 15px;
    padding-left: 40px;
}
img, .shirtModal, .separator{
    width: 100%;
}
#throwdown-collapse ul li a{
    color: black;
}
.shirtModal{
    padding-bottom: 0px;
}
.shirtModal .shirtContent{
    box-shadow: none;
    border: none;
    background-color: #eee;
}

.nav li a{
    font-weight: bold;
} 
.modal-footer, .modal-body, .modal-pic{
    margin: 0px;
    border: none;
    padding: 0px;
}
.modal-footer{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.modal-title{
    font-family: "Dripping Marker", "Segoe Script", "AR DECODE", Vijaya, Arial;
}
a.modal-link{
    text-decoration: none;
}
a.modal-link:hover{
    color: black;
    text-decoration: none;
}
.inline{
    display: inline;
}
.modal-pic{
    top: 0;
    left: 0;
    position:absolute;
    max-width: 200px;
    max-height: 200px;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
}
.back-pic{
    display:none;
}
.modal-body{
    text-align: center;
    padding: 0px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.close{
    padding-right:5px;
}
.thumbnail{
    width: 50px;
    height: 50px;
    display: inline;
}
.lg-thumbnail{
    height:550px;
    width:850px;
}
#navbar{
    border-bottom-width: 1px;
    border-bottom-color: black;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 5px;
}
#addpage{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
#shopname, a, a > span{
    color: black;
}
#shopname{
    font-family: "Dripping Marker", "Segoe Script", "AR DECODE", Vijaya, Arial;
    display: inline;
}
.navbar-header > a.navbar-brand{
    padding: 10px;
    padding-left: 40px;
}
#seriesTitle{
    padding-top: 20px;
    margin-top: 0px;
}
#homepage{
    background: url(../Content/logo.png) 50% 0 no-repeat fixed;
    height: 1000px;
    overflow: hidden;
}
#success-text{
    display: none;
}
#shirt{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
#shirtpic{
    margin-top: 40px;
}
#shirt-header{
    display:table-cell;
    margin-top:0px;
    border:none;
}
#shirt-header h1, #shirt-header h3{
    display: inline;
}
.nav-tabs{
    margin-top: 15px;
}
#shirt-price{
    display: inline-block;
    float: right;
    margin-top: 40px;
    border: 1px solid black;
    background-color: white;
    padding-bottom: 9px;
}
#buybutton{
    width: 100%;
    display:table-cell;
    background-color: #1F1F1F;
    color: white;
}
#info{
    padding-bottom:5px;
}
#header{
    display:table;
    width:100%
}
#header-info{
    display:inline;
}
.details-container{
    margin-left: 20px;
    padding-top: 20px;
}
#sizing-chart{
    width:100%;
}
#size-selector{
    width: auto;
    display: table-cell;
    font-size: 24px;
    font-weight: 500;
    background: none;
    border: none;
    box-shadow: none;
    padding-top: 3px;
    padding-left:0px;
    color: #333333;
}
#size-selector > option{
    font-size: 24px;
    font-weight: 500;
}
#series-carousel{
    height:550px;
    width:850px;
    margin: auto;
    margin-top: 5px;
}
.carousel-control.left, .carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0000) 100%);
}
#series-carousel .carousel-inner div.item img{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
}
#series-carousel .carousel-inner div.item img:hover, #series-carousel .carousel:hover, .carousel-control:hover{
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transform: scale(1.01);
}
#shirt-carousel{
    width:95%;
    max-height: 800px;
}
#description-text{
    padding-left: 25px;
}
#img-text, #img-msg{
    position: absolute;
    z-index: 1000;
    width: 850px;
    height:100px;
    line-height:550px;
    color:#000;
    text-align: center;
    display:none;
    font-family: "Dripping Marker", "Segoe Script", "AR DECODE", Vijaya, Arial;
}
#img-text{
    top:0;
    font-size: 100px;
}
#img-msg{
    top:60px;
    font-size:50px;
}
#thumb-container{
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%;
}

#thumb-container li{
    display:inline;
}
.newseries-container{
    display: none;
}

.sliderinput, .slidersubmit{
    margin-top: 10px;
}
div.panel-collapse > div.panel-body{
    padding-left: 0px;
}


@media only screen 
and (min-device-width : 320px)
and (max-device-width: 736px){
    #throwdown-collapse{
        background-color: whitesmoke;
    }
    #homepage{
        width:100%;
        height:500px;
        background: url(../Content/logo_small.png) 50% no-repeat fixed;
    }
    #series-carousel{
    height:500px;
    width:320px;
    margin: auto;
    }
    #img-text{
    position: absolute;
    top:0;
    display:none;
    z-index: 1000;
    width: 320px;
    height:100px;
    line-height:100px;
    color:#000;
    text-align: center;
    font-size: 40px;
    font-family: "Dripping Marker", "Segoe Script", "AR DECODE", Vijaya, Arial;
    }
}