<div id="series">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active" data-text="Drugs">
                <a href="/drugs"><img src="~/Content/ShirtPics/Drugs Not Hugs/1_adjusted.jpg" id="drugs" /></a>
            </div>
            <div class="item" data-text="Quotes">
                <a href="/quote"><img src="~/Content/ShirtPics/In My Death - Tupac/1_adjusted.jpg" value="" id="quote" /></a>
            </div>
            <div class="item" data-text="Lifestyle">
                <a href="/lifestyle"><img src="~/Content/ShirtPics/Centrelink/3_adjusted.jpg" id="lifestyle" /></a>
            </div>
            <div class="item" data-text="Fuck Plain Packaging">
                <a href="/fpp"><img src="~/Content/ShirtPics/Marlboro/1_adjusted.jpg" id="fpp" /></a>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <h1 id="img-text">Drugs</h1>
    </div>
</div>
@Scripts.Render("~/bundles/series")